* {
  font-family: "Poppins", sans-serif;
}
.navbar-brand {
  width: 150px;
}

.NavBarLink {
  font-weight: 500 !important;
  color: var(--SecondaryColor) !important;
  font-size: 18px !important;
}
.agentLoginBtn {
  border: none;
  color: var(--whiteColor);
  padding: 5px 15px;
  background-color: var(--PrimaryColor);
  font-size: 16px;
  font-weight: 400;
}

.navBarBackGround {
  box-shadow: 0px 2px 5px rgb(0 0 0 / 24%);
  background-color: var(--whiteColor);
}

/* start NavBar link style for bottom line */

.NavBarLink {
  cursor: pointer;
  position: relative;
}

.NavBarLink::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  bottom: 0px;
  left: 20px;
  transform: scaleX(0);
  background: var(--PrimaryColor);
  transform-origin: center;
  transition: transform 0.5s ease-out;
}

.NavBarLink:hover::after {
  color: var(--blackColor);
  transform: scaleX(1);
  transform-origin: bottom left;
}

.NavBarLink.active::after {
  transform: scaleX(1);
  background: var(--PrimaryColor);
  transform-origin: center;
}

/* end NavBar link style for bottom line */

.navBarDiv {
  top: 0;
  z-index: 150;
  position: sticky;
}

.inputBoxDiv {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  position: relative;
}
.passwordEye {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: gray;
}

.loginForm {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}
.loginFormInputBox {
  border: 1px solid gray;
  border-radius: 2px;
  padding: 10px 20px;
  outline: none;
}

.ui-checkbox {
  --primary-color: #1ecb15;
  --secondary-color: #fff;
  --primary-hover-color: #43c73c;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style)
    var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5)
    var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}
.remeberMe {
  user-select: none;
}
/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}
/* Remember checkbox End */


