.Ads {
  background: #201f1d;
  position: relative;
  border-radius: 10px;
  margin: 50px 0 80px;
  padding: 80px;
}

.Ads-title {
  font-weight: 600;
  font-size: 45px;
  color: #ffffff;
  margin: 0 0 15px;
}

.Ads-p{
    font-size: 18px;
    color: #ffffff;
    margin: 0 0 37px;
}

.Ads-right{
    position: absolute;
    right: 30%;
    top: 10%;
}

.bg-image{
    position: relative;
    background-image: url(../../Asset/BG_Sprinkle.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  
}